option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node server.js"
    NodeVersion: 18.x
  
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
    ENABLE_HTTPS: false
    ENABLE_REDIS: true
  
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:region:account-id:certificate/certificate-id
    Rules: default
  
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: 8080
    Protocol: HTTP
