packages:
  yum:
    gcc-c++: []
    make: []

commands:
  01_install_redis:
    command: |
      if ! command -v redis-server &> /dev/null; then
        amazon-linux-extras install redis6 -y
      fi
    ignoreErrors: true

services:
  sysvinit:
    redis:
      enabled: true
      ensureRunning: true
